/* Colors and Fonts */

body { 
	background: #F5EFE6;
	color: #8D735D;
	font-family: "Lora", serif;
	font-size: 18px;
	font-weight: lighter;
 }

h1, h2, h3 { 
		font-family: "Hedvig Letters Serif", serif;
		text-align: center;
}

h1	{
 	color: #4A342E;
 	font-family: "Playfair Display", serif;
 	font-weight: 550;
}

h2 { 
  color: #735B4F;
    font-family: "Cormorant Garamond", serif;
 	font-size: 33;
 	font-weight: 420;
    background-color: #F3EDE7; 
    padding: 10px 15px; 
}


h3 {
	color: #9C7F6B;
	font-family: "Libre Baskerville", serif;
	font-size: 23;
	font-weight: 600;
}

a{
	text-decoration: none;
	color: #6D5B4A;
	font-weight: 500;
	font-family: "Lora", serif;
	font-size: 15;
}

a:hover {
	color: #6D5B4A;
}


/* Custome Design Class (Class) */

.Container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 960px) {
	.Container {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.Container {
		width: 500px;
	}
}

@media (max-width: 540px) {
	.Container {
		width: 300px;
	}
}

.Card-White {
	background-color: #FFFFFF;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 1);
	border-radius: 8px;
	margin: 20px 0px;
	text-align: center;
}

.Btn-Blue {
	background-color: #4A342E;
	color: white;
	padding: 8px 11px;
	border-radius: 8px;
}

.Btn-Blue:hover {
	background-color: #9C7F6B;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: ##121236;
}

.list-inline i:hover {
	color: #9C7F6B;
}

/* Custome Design ID (ID) */

.profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #A78C6B;
	box-shadow: Opx 4px 8px rgba (0, 0, 0, 0.2); 
}













